{{#each this}}
<li class="menu__item menu__item_cards">
    <div>
    <img src="{{flag}}" alt="{{name}}" width="120px" height="80px">
    </div>
    <h1 class="menu__title_cards">{{name}}</h1>
</li>
{{/each}}