* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #191e3a;
  color: white;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu__title_cards {
  font-size: 20px;
  text-align: center;
}

.menu__item_cards {
  /* border: 2px solid tomato; */
  width: 152px;
}

.menu__item_cards:not(:last-child) {
  margin-right: 30px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input {
  width: 200px;
}

.menu__img {
  display: flex;
  justify-content: center;
}
